@model DBapp.Models.student_reg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>student_reg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Student Registered
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_reg_registered)
        </dd>

        <dt>
            Class Level
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classs.class_level)
        </dd>

        <dt>
            Student Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.student_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id=Model.student_reg_id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
