@model DBapp.Models.attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Attended
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attendance_attended)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attendance_date)
        </dd>

        <dt>
            Class Level
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classs.class_level)
        </dd>

        <dt>
            Student Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.student_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.attendance_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
