@model IEnumerable<DBapp.Models.payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "payments", FormMethod.Post))
{
    <div>
        Search @Html.TextBox("searchString")
        <input id="Submit1" type="submit" value="Filter" />

    </div>
}
<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Amount
        </th>
        <th>
            Date
        </th>
        <th>
            Inventory Category
        </th>
        <th>
            Student Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.payment_category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventory.inventory_category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.student_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.payment_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.payment_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.payment_id })
            </td>
        </tr>
    }

</table>
